
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{

 
    .link{
        @apply hover:underline cursor-pointer;
    }

    .w-600{
        width: 600px;
    }

    .w-100{
        width: 40rem;
       
    }

     .h-max{
        height: 100%;
       
    }

    .w-97{
        width: 25rem;
    }

    .ele-btm{
         position: absolute;
        bottom: 0px;
    }

    .w-searchbar-md{
        width: 40rem;
    }

    .w-5xl{
        	width: 67rem;
    }
 
    .h1{
        height: 10%;
    }

    .h2{
        height: 20%;
    }

    .h3{
        height: 30%;
    }

    .h4{
        height: 40%;
    }

    .h5{
        height: 50%;
    }

    .h6{
        height: 60%;
    }

    .h7{
        height: 70%;
    }

    .h8{
        height: 80%;
    }

    .h9{
        height: 90%;
    }

   
}